body{
  margin:0;
}
  a {
  color:black;
  text-decoration: none;
}
h1 {
  font-size:45px;
  text-align: center;
  border-bottom:2px solid gray;
  margin:0;
  padding:20px;
}
ol {
  border-right:2px solid gray;
  width:100px;
  margin:0;
  padding:20px;
  border-left-width:10;
}
#grid{
  display : grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-left: 33px;
}
#grid #article{
  padding-left: 25px;
}
h2{
  margin:0;
}
#name {
  margin-top:20px;
}
@media(max-width:800px){
  #grid{
    display : block;
}
ol {
  border-right:none;
}
h1 {
  border-bottom:none;
}
}
